main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  .product-header {
    display: flex;
    flex-direction: row;
    background-color: #73737313;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: #434343;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    .search-container {
      display: flex;
      align-items: center;

      .search-input {
        width: clamp(20rem, 20vw, 10rem);
        height: 2rem;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 0 1rem;
      }

      .search-button {
        height: 2rem;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 0 1rem;
        margin-left: 1rem;
        background-color: #023535;
        font-weight: bold;
        color: #ffffff;
        cursor: pointer;
        &:hover {
          background-color: black;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .products__sorting {
      height: 2rem;
      border: 1px solid #ccc;
      border-radius: 3px;
      padding: 0 0.5rem;
      margin: 0 1rem;
    }
  }
  .products-container {
    display: flex;
    flex-direction: row;

    padding: 1rem 0 5rem 0;
    .products {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: space-around;
      margin: 0 4rem;
      .product {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .product-items {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          width: clamp(15rem, 10vw, 30rem);
          height: 25rem;
          box-shadow: 0 0 10px #ccc;
          border-radius: 3px;
          &:active {
            box-shadow: 0 0 10px #aaa;
            transform: scale(0.98);
          }
          .product-image {
            width: 100%;
            height: 15rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .product-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex: 1;
            padding: 0 1rem;
            gap: 1rem;
            .productTitle {
              font-size: 1.2rem;
              font-weight: bold;
            }
            .productPrice {
              font-size: 1rem;
            }
          }
          .product-button {
            width: 100%;
            flex: 1;
            height: 4rem;
            border: 1px solid #ccc;
            padding: 0 1rem;
            color: #000000;
            background-color: #ffffff;
            border-radius: 3px 0 0 3px;
            font-weight: bold;
            cursor: pointer;
            &:hover {
              background-color: #023535;
              color: #ffffff;
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    .product-header {
      flex-direction: column;
      .search-container {
        flex-direction: column;
        align-items: flex-start;
        .search-input {
          width: clamp(20rem, 20vw, 10rem);
        }
        .search-button {
          margin-top: 1rem;
        }
      }
      .sort-input {
        margin: 1rem 0;
      }
    }
    .products-container {
      flex-direction: column;

      .products {
        margin: 0;
        .product {
          justify-content: center;
          .product-items {
            .product-image {
              width: 100%;
              height: 10rem;
            }
          }
        }
      }
    }
  }
}
