/**============================================
 *               user Styles
 *=============================================**/
@forward 'user/HomePage/navBar';
@forward 'user/HomePage/heroSection';
@forward 'user/HomePage/home';
@forward 'user/HomePage/filterBar';
@forward 'user/HomePage/footerSection';

/**============================================
  *               Global Styles
  *=============================================**/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
}

.login-registry-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #000000;
  width: 50%;
}

.admin-sidebar {
  ul {
    gap: 1rem;
    a {
      flex-grow: 1;
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      font-size: 1.2rem;
      border: 3px solid #8585851d;
      border-radius: 0.5rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #000000;
          color: #ffffff;
        }
      }
    }
  }
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  place-items: center;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  font-size: 2em;
  height: 100vh;
}
